*{
    font-family: Helvetica;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: unset;
}

body{
    text-align: center;
}

/* Fontes */
    h2{
        font-size: 35px;
        letter-spacing: 50px;
        font-weight: 500;
        text-transform: uppercase;
        margin: 2rem auto 1.5rem;
    }

    .mainLinks>li {
        color: whitesmoke;
    }

    h1{
        font-size: 60px;
        margin: 3rem auto;
    }

    #text{
        font-size: 20px;
        font-weight: 500;
    }

    #price, .colorDescription{
        color: rgb(95, 94, 94);
        font-size: 20px;
        font-weight: 540;
    }

    main>.buyBtn{
        font-size: 25px;
        padding: 1rem 2rem;
        border-radius: 10rem;
    }

/* Divs */
    .mainLinks{
        display: flex;
        background-color: rgb(32, 32, 32);
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0 10%;
    }

    .secondContainer{
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        padding: 1rem;
        box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.322);
        flex-wrap: wrap;
    }

    #secondLinks{
        width: 40%;
        display: flex;
        justify-content: space-evenly;
    }

    #offerBanner{
        background-color: rgba(102, 102, 102, 0.075);
        color: rgb(34, 34, 34);
        font-size: 15px;
        padding: 1rem;
        margin-bottom: 2.5rem;
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main p{
        max-width: 30%;
        margin: 2rem auto 2rem;
    }

    #colorSelection ul{
        display: flex;
    }

    #colorSelection{
        display: flex;
        justify-content: center;
        gap: 10%;
        margin-top: 10rem;
        margin-bottom: 500px;
        flex-wrap: wrap;
        width: 100%;
        margin-inline: 1rem;
    }

    #colorSelection li{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2.5rem;
        cursor: pointer;
        pointer-events: all;
    }

    .img{
        margin-top: 6rem;
        max-width: 80%;
        min-width: 50%;
    }

/* Botões */
    .colorContainer{
        height: 3.2rem;
        width: 3.2rem;
        border-radius: 50%;
        background-color: yellow;
        margin-bottom: 1rem;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.616);
        cursor: pointer;
        pointer-events: none;
    }

    .buyBtn{
        background-color: rgb(21, 72, 240);
        padding: 0.4rem 1rem;
        width: fit-content;
        border-radius: 1rem;
        color: whitesmoke;
        opacity: 0.8;
    }

    .image.transition{
        opacity: 0.1;
    }

    .image{
        margin-top: 5rem;
        opacity: 1;
        transition: 1s;
    }
    
    #grafite .colorContainer{
        background-color: #54524f;
    }

    #blue .colorContainer{
        background-color: #a7c1d9;
    }

    #golden .colorContainer{
        background-color: #fae7cf;
    }

    #green .colorContainer{
        background-color: #394c38;
    }

    #silver .colorContainer{
        background-color: #f1f2ed;
    }


/* Interação de Botões */
    li:hover > .colorContainer:not(.selected){
        outline: 2px solid #0936ff88;
        outline-offset: 0.2rem;
    }

    .colorContainer.selected{
        outline: 3px solid #002fff;
        outline-offset: 2px;
    }

    .buyBtn:hover{
        opacity: 1;
        background-color: rgb(0, 42, 182);
        box-shadow: 0 0 10px rgba(94, 115, 185, 0.555); 
    }
    .buyBtn:active{
        opacity: 1;
        background-color: rgb(2, 28, 114);
        color: rgb(255, 255, 255);
    }

    header a:hover:not(.buyBtn){
        text-decoration: underline;
    }

    header a:active:not(.buyBtn){
        color: #002fff;
        text-decoration: none;
    }


/* Responsividade */
    @media (max-width: 690px) {
        .mainLinks li{
            display: none;
        }

        .mainLinks li:first-child{
            display: flex;
        }

        #secondLinks{
            display: none;
        }

        #iphoneHeader{
            align-self: center;
            justify-self: center;
        }

        #text{
            width: 80%;
        }

        #colorSelection{
            padding: 1rem;
        }
    }

    @media (max-width: 1200px) {
        .mainLinks{
            padding: 0 1%;
        }

        #secondLinks{
            flex-wrap: wrap;
            text-wrap: nowrap;
        }

        #secondLinks li{
            margin: 0.5rem;
        }

        h2{
            letter-spacing: 20px;
        }
    }